@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Carmela.cshtml";
}

<main role="main" class="inner cover">
    <h1 class="cover-heading">@ViewBag.Title.</h1>
    <p class="lead">@ViewBag.Message</p>
    <p class="lead">
        Use this area to provide additional information.
    </p>
</main>