@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<p>Ya saben quien soy, mandame un whatsapp.</p>
<p>Si caiste aca por casualidad, cómo hiciste?</p>
<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong><a href="mailto:">Support</a><br />
</address>