@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Carmela.cshtml";
}

<main role="main" class="inner cover">
    <h1 class="cover-heading">Your attention please!</h1>
    <p class="lead">Welcome to My Trips, the place to track, find places of interest and manage your trips!</p>
    <p class="lead">
        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-lg btn-secondary", @value = "Let's go!" })
    </p>
</main>