/* Colors */
$primary-color: #7F2852;
$secundary-color: #AE84A0;
$black: #0A0A18;
$blue-gray: #B2B3B2;
$third-color: #EED1E2;
$title-color: #f6e5ee;
$dark-gray: #808080 ;
$white: #ffffff;

$redColor: #ee4646;
$fuxColor:#c11072;
$purpleColor:#7e417c;
$blueColor:#2191b2;
$lightBlueColor:#2cbae3;
/* End Colors */

    @media (min-width: 48em) {
      .masthead-brand {
        float: left;
      }
      .nav-masthead {
        float: right;
      }
    }

/* Mixin's */ 
@mixin hover-focus {
  &:hover,
  &:focus {
    @content;
  }
}
/* End Mixin's */ 

* {
    box-sizing: border-box;
}
figure {
    margin: 0;
}
a{
    color: $purpleColor;
    &:hover{
        color:$secundary-color;
    }
}

/* Navbar custom themes */
// Styles using as a template the bootstrap light 
.navbar-purple {
    background-color: $primary-color;
    .navbar-brand {
        color: $title-color;
        @include hover-focus {
          color: $dark-gray;
        }
    }
    .navbar-nav {
        .nav-link {
            color: $title-color;
        @include hover-focus {
          color: $dark-gray;
        }
        &.disabled {
            color: $blue-gray;
        }
    }
    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $title-color;
    }
  }

  .navbar-toggler {
    color: $primary-color;
    border-color: #e7e7e7;
  }

  .navbar-text {
    color: $dark-gray;
    a {
      color: $blue-gray;
    }
  }
}
/* End Navbar custom themes */



.title {
    color: $title-color;
}

.btn-trip {
    color: $white;
    background-color: $secundary-color;
    border-color: $secundary-color;
    @include hover-focus{
        background-color: $primary-color;
        border-color: $primary-color;
    }
}

.btn-trip:hover,
.btn-trip:focus,
.btn-trip:active,
.btn-trip.active,
.open .dropdown-toggle.btn-trip {
    color: $white;
    background-color: $primary-color;
    border-color: $primary-color;
}

.panel-trip {
    border-color: $secundary-color;

    .panel-heading {
        color: $primary-color;
        background-color: $third-color;
        border-color: $secundary-color;
    }

    .panel-collapse .panel-body {
        border-top-color: $secundary-color;
    }

    .panel-collapse .panel-body {
        border-bottom-color: $third-color;
    }
}
%cover-shared {
    background-repeat: no-repeat;
    background-size: cover;
}
.rute {
    @extend %cover-shared;
    min-height: 504px;
    background-image: url(../img/ruta.jpg);
}

.brige {
    @extend %cover-shared;
    min-height: 478px;
    background-image: url(../img/puente2.jpg);
}

.reflector {
    @extend %cover-shared;
     min-height: 300px;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #000000;
    background-image: url(../img/ojoPez.JPG);
}

// GOOGLE MAP STYLE
/* Always set the map height explicitly to define the size of the div
        * element that contains the map. */

#map {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
table {
    font-size: 12px;
}
#map {
    width: 440px;
    height: 300px;
}
#listing {
    width: 200px;
    height: 470px;
    overflow: auto;
    cursor: pointer;
    overflow-x: hidden;
}
#findhotels {
    text-align: right;
    width: 100px;
    font-size: 14px;
    padding: 4px;
    z-index: 5;
    background-color: #fff;
}
#controls {
    left: 300px;
    width: 140px;
    z-index: 5;
    background-color: #fff;
}
.placeIcon {
    width: 20px;
    height: 34px;
    margin: 4px;
}
.hotelIcon {
    width: 24px;
    height: 24px;
}
#resultsTable {
    border-collapse: collapse;
    width: 440px;
}
#rating {
    font-size: 13px;
    font-family: Arial Unicode MS;
}
.iw_table_row {
    height: 18px;
}

.iw_attribute_name {
    font-weight: bold;
    text-align: right;
}
.iw_table_icon {
    text-align: right;
}
.detailMap {
    border: 0;
    width: 100%;
    min-height: 400px;
}

// END GOOGLE MAPS

// CLOCK
#clockdiv {
    font-family: 'Bungee Hairline', cursive;
}