* {
    box-sizing: border-box;
}
a {
    color: white;/*#5bc0de;*/
}
a:hover{
    color: #353434;
    background-color:#aea5a5;
}
img {
    width: 100%;
}
figure {
    margin: 0;
}
.navbar-trip {
    background-color: #ae0158; /* #e7d3d4; #8d8e8e;*/
    border-color: #e7d3d4;
}
.title {
    color: #ea64a7;
    font-size:30px;
}
