* {
    box-sizing: border-box;
}
a {
    color: #5bc0de;
}
img {
    width: 100%;
}
figure {
    margin: 0;
}
.navbar-trip {
    background-color: #8d8e8e;
    border-color: #e7e7e7;
}
.title {
    color: #5bc0de;
}
